:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.board {
  align-items: start;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  transition: transform 1s;
}

.column {
  display: grid;
  place-items: center;
}

.tile {
  background-color: rgb(0, 30, 155);
  box-sizing: border-box;
  cursor: pointer;
  display: grid;
  font-weight: bold;
  place-items: center;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: transform 1s;
}

.money {
  color: rgb(254, 199, 95);
  font-size: 2rem;
}

.answer {
  font-size: 0.34rem;
  padding: 0.5rem;
}

.blank {
  transition: none;
}

.fullscreen {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

img.logo {
  object-fit: contain;
}
