:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: normal;
  margin: 0;
}

button {
  cursor: pointer;
}

button, input {
  font-size: 20px;
}

button:focus, button:focus-visible, input:focus, input:focus-visible {
  outline: none;
  border: 1px solid white;
}

.money {
  color: rgb(254, 199, 95);
  font-size: 2rem;
}

.answer {
  font-size: 0.34rem;
}

.blank {
  transition: none;
}

.fullscreen {
  height: 100%;
  inset: 0;
  position: absolute;
  width: 100%;
}

img.logo {
  object-fit: contain;
}

.buzzer {
  background-color: hsl(0 0% 40%);
}
.buzzer:hover {
  background-color: hsl(0 0% 30%);
}
.buzzer:active {
  background-color: white;
}

button.correct {
  background-color: hsl(120 100% 25%);
  color: white;
}
button.correct:hover {
  background-color: hsl(120 100% 20%);
}
button.correct:active {
  background-color: hsl(120 0% 30%);
}

button.incorrect {
  background-color: hsl(0 100% 40%);
  color: white;
}
button.incorrect:hover {
  background-color: hsl(0 100% 35%);
}
button.incorrect:active {
  background-color: hsl(0 0% 30%);
}
